body{
    background-color:rgb(36, 53, 63);

}
.mb-3{
    transform: translateY(50px);
    margin: auto;
}
.card{
    background-color: rgb(36, 53, 63);
    text-align: center;
    color: rgb(23, 162, 184);
    height: 400px;    
}
.erro{
   color: red;
   transform: translateY(70px);
   display: none;
   
}
.btn-primary{
    width: 100%;
    background-color:rgb(36, 53, 63) ;
    position: relative;
    top: 50px;
     
}
.demo{
transform: translateY(70px);
}
.form-control{
    background-color:rgb(36, 53, 63) ;
    color: white;
}
.contain{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    text-align: center;
    display: none;
}
.sign2 a{
    text-decoration: none;
    color: black;
}
.mb-8{
    display: none;
}